*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
textarea{
    padding: 0.5rem;
    width: 100%;
    margin: 1rem;
}
#addBtn{
    padding: 0.2rem;
    margin: 1rem;
}
.book-container{
    display: grid;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 1rem;
    gap: 1rem;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 0.3rem;
}
.btn{
    padding: 0.4rem;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(236, 236, 236);
}
