*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
textarea{
    display: flex;
    align-items: center;
    padding: 0.3rem 2rem;
    border-radius: 0.7rem;
    border: 1px solid rgb(162, 162, 162);
    font-size: 1.3rem;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem ;
}
section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items{
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 3rem;
    border-radius: 1rem;
    width: 20rem;
}
.btn-sec{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: flex-end;
}
.grocery{
    display: flex;
    gap: 1rem;
    align-items: start;
}
.grocery button{
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.item-sec{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 5rem;
}
/* .dropdown-content{
    display: none;
}
.dropdown-content:hover{
    display: block;
    position: relative;
} */
